{% extends "base.html" %}
{% block content%}
    <div>
        {% comment %}
        <form action="{% url "machine" %}" method="post">
        {% endcomment %}
        <form action="{% url url %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div>

    <div>
        <p>Result</p>
        <p class="item">
        resultat : {{ output|floatformat:"0" }} {{ output.unit }}
        </p>
    </div>
{% endblock %}

