{% extends "base.html" %}
{% load class_name %}
{% block title %}Models{% endblock %}
{% block content%}
<h1 class="title"><a href="{% url "home_models" %}">Models</a></h1>
    <div class="items_list">
        <h3>{{ report.title }}</h3>
        <div class="news centered">
            {% for item in item_list %} 
                {% with item|class_name as class_name %}
                    {% if class_name == 'ReportText' %}
                    <p>{{ item.text|linebreaksbr }}</p>
                    {% elif class_name == 'Figure' %}
                        <img id="sketch_image" src="{{ item.fig.url }}"/> 
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
