/*This one is OK*/
@font-face {
    font-family: 'lmroman10';
    src: url('../font/latin_modern_roman/lmroman10-regular.otf');
}


/*-----------------------*/
/* css for base.html */
html {
    /* stop moving the css because 
     * of the * scrolling bar.  */
    overflow-y: scroll;
}

body  
{
    font-family: 'lmroman10';  /*'lmromanslant10';*/ /*'lmromandunh10';*/ /*'lmromandemi10';*/
    display: flex;    
    flex-direction: column; 
    min-height: 97vh;
    font-size: 25px;
    background-color: #4db8ff;
    background-color: #f2f2f2;
    background-color: #e6e6e6;
    background-color: #f2f2f2;
}
a {
    color: inherit;
    text-decoration: none;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#header_title
{
}
#container_nav_contents
{
    display: flex;
    flex: 1; 
    flex-direction: column;
    justify-content: center;
}
nav
{
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: #66ccff;
}
#nav_links
{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 50px;
}
#content
{
    display: flex;
    flex-direction: column;
    flex: 100; 
}
footer
{
    display: flex;
    align-items: center;
    height: 5vh;
}

.items_centered
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-around;
}


/*-----------------------*/
/* css for show.html */
.title
{
    display: flex;
    justify-content: center;
}
.items_list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-around;
}

.centered
{
    align-items: center;
}

/*-----------------------*/
/* css for show_items.html */
.item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}

/*-----------------------*/
/* css for show_news.html */
.news
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px; 
    padding-right: 10px;
    padding-left: 10px;
    width: 80%; 
    background-color: #ffffff;
}
.news_message
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px; 
}


/*-----------------------*/
/* css for stories.html */
.item_link
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*-----------------------*/
/* CSS for contact.html  */
#message_contact
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*-----------------------*/
/* CSS for comment.html  */
#message_sent
{
    display: flex;
    justify-content: center;
}
.comment
{
    display: flex;
    justify-content: center;
}
.comment_block
{
    display: flex;
}

.comment_message
{
    width: 100vh;
    margin-left: 10px;
}
.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

