{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}"/>
	<meta charset="UTF-8">
	<meta name="author" content="Cotev">
	<meta name="description" content="">
	<meta name="keywords" content="">
        <title>{% block title %}Scale project{% endblock %}</title>
    </head>


    <body>
        <header><span id="header_title"><strong>Scale project</strong></span></header>
	<div id="container_nav_contents">
		<nav>
                	{% block nav %}
				<div id="nav_links">
					<a href="{% url "home" %}">Home</a>
	        		</div>
                	{% endblock %}
            	</nav>
            	<section id="content">
            		{% block content %}
                        contents from the base.html
                    {% endblock %}
		</section>
        </div>
        <footer></footer>
    </body>
</html>
